<%- include('partials/header') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
            <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small subheading">Enter your personal details to create account</p>
                  </div>
                  <div id="SuccessFailureAlertWrapper"></div>

                  <form class="row g-3 needs-validation" novalidate="" id="registration_form" method="post">
                   
                        <div class="col-6">
                            <label for="first_name" class="form-label">Your First Name</label>
                            <input type="text" name="first_name" class="form-control" id="first_name" required="">
                            <div class="invalid-feedback">Please, enter your name!</div>
                        </div>
                        <div class="col-6">
                            <label for="last_name" class="form-label">Your Last Name</label>
                            <input type="text" name="last_name" class="form-control" id="last_name" required="">
                            <div class="invalid-feedback">Please, enter your name!</div>
                        </div>
                    
                        <div class="col-12">
                            <label for="yourEmail" class="form-label">Your Email</label>
                            <input type="email" name="email" class="form-control" id="email" required="">
                            <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                        </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password" required="">
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-success w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0 subheading">Already have an account? <a href="/login">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>
        </div>
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <img src="img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <%- include('partials/footer') %>
